<!DOCTYPE html>
<html>
  <head>
    <title>LinesTest</title>

    <script src="http://127.0.0.1:8081/components/cors-test/"></script>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
