<!DOCTYPE html>
<html>
  <head>
    <title>blah blah bebop</title>

    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render 'shared/header' %> 
    
    <%= yield %> 
    
    <%= render 'shared/footer' %>

  </body>
</html>
