<header class="main__header">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-header">
        <h1 class="navbar-brand"><a href="index.html">blah blah <span>bebop</span></a></h1>
        <a href="#" onClick="javascript.void()" class="submenu">Menus</a>
      </div>
      <div class="menuBar">
        <ul class="menu">
          <li id="home" class="active"><a href="/">Home</a></li>
          <li id="blog" class=""><a href="/blog">Blog</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
  </div>
</header>
